@charset "UTF-8";
h2{
	font-size:1.5em;
	font-weight:bold;
	margin:7px 2px 10px 2px;
	padding:7px 0  
}

.divForm div, .divForm label, .divForm .sp1{
	font-size:1.0em; 
}
.divForm form, .divForm{
	width: 1000px;
}
.divForm fieldset	{
	width: 90%;
	padding: 0;
	margin: 0 auto;
	border: 0;
	border-bottom: 2px solid #e2e2e2;
}	
.divForm div {
	clear: both;
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin: 0;
	overflow: auto;
}	
.divForm .firstDiv	{
	border-top: 2px solid #e2e2e2/* #aacc00 */;
}
.divForm .lastDiv	{
	border-bottom: 1px solid silver;
}
	
.divForm label, .divForm .sp1	{
	width: 20%;
	float: left;
	text-align: right;
	padding: 3px 10px 0 0;
	clear: left;		
	font-weight: bold;
	}
.divForm input[type="text"], .divForm input[type="password"]{
	border: 1px solid #DCDDE3;
	}
.divForm.text_width input[type="text"], .divForm.text_width input[type="password"]{
	width: 55%;
	height: 1.2em;
	font-size: 0.9em;
}
	
.divForm input[type="submit"], .divForm input[type="reset"], 
.divForm input[type="button"],	.divForm button{
	padding: 2px 10px;
}
.divForm textarea	{
	width: 70%;
	border: 1px solid #DCDDE3;
	float: left;
}
.divForm .center	{
	border: none;
	text-align: center;
	margin:10px 0;
}
.divForm select{		
	border: 1px solid #DCDDE3;
	font-size: 0.9em;
}
.divForm .content{		
	padding:25px;
}	
	.divForm input[type="file"]{
	margin:2px 0;				
}

/* 게시판 상세보기 */
	.divDetail2{
	width:800px;
	border: 1px solid #ddd;
	padding:15px;
}
.divDetail .border{		
	border-bottom:1px dotted silver;
	padding: 7px 2px;
	margin: 0;
	overflow: auto;
	font-size:0.9em;
}	
.divDetail div.border{
	padding:14px 2px;
}
.divDetail span, .divDetail p{
	font-size:0.9em;			
}
.divDetail .right{
	float:right; 	
}
.divDetail p.pBtn{
	text-align:center;
	border:none;
	padding: 7px 0 5px 0;
}

/* 표 css */
.divSearch{
	width:900px;
}
caption{
	visibility:hidden;
	font-size:0.1em;
}	
.divPage{
	text-align:center;		
	padding:2px 0;
}	
.divBtn{
	text-align:right;
}
.divBtn a{
	font-size:1.0em;
}
.divRight{
	text-align:right;	
	width:700px;
}




/* main style */

body, td, th, span, p{
	font-family: 'nanum gothic', 맑은 고딕, 한컴돋움, 돋움;
	font-size: 0.9em;
	color:#555555;
}
	
td, th{
	padding:4px;
}

a:link{color:#555555;text-decoration:none}
a:visited{color:#555555;text-decoration:none}
a:hover{color:#047CC1;text-decoration:underline;}
a:active{color:#047CC1;text-decoration:underline;}

input,Textarea, select {
    font-family:'nanum gothic', 맑은 고딕, 한컴돋움, 돋움;
	font-size: 0.9em;
	color:#555555;
}

